*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#ic1{
    background-color: white ;
}
.h2 {
text-shadow: 6px 3px 5px red;
padding-bottom: 20px;

}
.div1{
    width: 50%;
    padding-top: 300px;
}
p { 

    font-family: Helvetica;
  
}

nav ul li {
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    padding-right: 130px;
}
header {
    background-image:url(sema.webp);
    background-repeat:no-repeat;
    background-size: cover;
    height: 100vh;
}



.f1{
    border-bottom: 2px solid rgb(255, 246, 255);
    width: 50px;
    background-color: rgb(51, 45, 45);
}
ul li a:hover{
    color:azure;
}
#nav-icon{
    display: flex;
    margin-right: 120px;
    align-content: space-around;
}
.sec1 ba{
    background-image: url(sema-2147.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
}
.ul4{
    list-style: none;
}

.ff1 {
    display:flex;
    background-color: rgb(59, 55, 55);
    color: white;
     }
     .img{
        background-image: url("10. Цветы.png");
     }